body {
    background: rgb(32, 150, 209);
}

.container {
    width: 800px;         
    min-height: 200px;
    margin: 50px auto;
    background: white;
    border-radius: 2%;
    padding: 50px;
}

.done {
  text-decoration: line-through;
  opacity: 0.7;
}
.tasks li {
  display: flex;
  align-items: center;
  gap: 8px;
}